body{
    margin-top: 100px;
}
.edit{
	position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 59px;
    background-color: black;
	display: flex;
	justify-content: center;
	align-items: center;
}
.edit__button{
	border: none;
    background-color: #FFFEF8;
}
.edit__button--top{
	background-color: black;
	color: white;
}
.edit__button--publish{
	background: #FFFFFF;
	border-radius: 60px;
	font-weight: 500;
	padding: 11px 22px 11px 22px;
	text-align: center;
	margin-left: 1%;
}


/*  ---------------- MODAL   ------------- */
#modalBackground{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    background: rgba(0,0,0,0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
}

/*inside Modal*/

.modal__container{
    box-sizing: border-box;
    width: 630px;
    height: 731px;
    background: #FFFFFF;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5%;
}

.modal__container button{
    background-color: #FFFFFF;
    border: none;
    font-family: 'Syne';
    font-size: 14px;
    height: 36px;
}

.navModalButtons{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

#closeModalButton, #previousModalButton{
    font-size: 1.5em;
}

h3{
    text-align: center;
    margin-bottom: 5%;
}


/* -------------- DELETE MODAL ------------------- */
.modal__gallery{
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 2%;
    width: 420px;
    height: 500px;
    padding-bottom: 5%;
    border-bottom: 1px solid #B3B3B3;
    overflow-y: auto;
}

.editWork{
    display: flex;
    flex-direction: column;
}

.modal__gallery img{
    width: 100%;
}

.modal__gallery .deleteButton{
    position: relative;
    top: 23px;
    left : 55px;
    padding: 0px;
    box-sizing: border-box;
    width: 17px;
    height: 17px;
}

.deleteButton:hover{
    cursor: pointer;
}

.modal__gallery .deleteButton img{
    padding: 4px;
    background: #000000;
    border-radius: 2px;
    width: 9px;
    height: 9px;
}

.button__modal{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#addPicture{
    background: #1D6154;
    border-radius: 60px;
    width: 237px;
    color: #FFFFFF;
    margin-top: 5%;
    margin-bottom: 10px;
}

#deleteGallery{
    width: 230px;
    color: #D65353;
}

/* ----------- CREATE MODAL ------------ */
#create__option{
    flex-direction: column;
}
#create__option form{
    display: flex;
    flex-direction: column;
    padding-bottom: 47px;
    border-bottom: 1px solid #B3B3B3;
}
label{
    font-size: 14px;
    font-weight: 500;
    margin-top: 5%;
    margin-bottom: 5%;
}
#modalBackground input, select{
    width: 420px;
    height: 51px;
    background: #FFFFFF;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
    border: none;
}
#imgPreviewBlock{
    height: 169px;
    box-sizing: border-box;
    background: #E8F1F7;
    display: flex;
    justify-content: center;
    margin-top: 5%;
}
#imageUrlToSendBlock{
    background: #E8F1F7;
    border-radius: 3px;
    border: #E8F1F7;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#imageUrlToSendBlock img{
    width: 58px;
    height: 46px;
}
#imageUrlToSendBlock label{
    background: #CBD6DC;
    border-radius: 50px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #306685;
    width: 173px;
    height: 36px;
}
#imageUrlToSend{
    display: none;
}
#addWorkButton{
    background: #A7A7A7;
    border-radius: 60px;
    color: #FFFFFF;
    width: 237px;
    height: 36px;
    margin-top: 32px;
}
#imgPreviewBlock img{
    max-height: 100%;  
};